{% if sub_title %}
<h4 class="text-muted">{{ sub_title }}</h4>
{% endif %}
{% if not result -%}
	<div class="text-muted" style="min-height: 300px;">
		{{ no_result_message or _("Nothing to show") }}
	</div>
{% else %}
	<div class="website-list" data-doctype="{{ doctype }}"
		data-txt="{{ txt or '[notxt]' | e }}">
		{% if doctype == "Sales Order" %}
			<div class="row order-title align-center">
				<div class="col-sm-3 col-3 font-weight-bold" style="color: black;">Order no.</div>
				<div class="col-sm-2 col-3 font-weight-bold items-preview ellipsis ellipsis-width" style="color: black;">Status</div>
				<div class="col-sm-4 col-3 font-weight-bold" style="color: black;">Product</div>
				<div class="col-sm-3 col-3 font-weight-bold text-right" style="color: black;">Amount</div>
			</div>
		{% endif %}
		<!-- {% if not hide_filters -%}
			{% include "templates/includes/list/filters.html" %}
		{%- endif %} -->
		{% if result_heading_template %}{% include result_heading_template %}{% endif %}

		<div class="result {% if doctype == 'Sales Order' %}mt-0{% endif %}">
			{% for item in result %}
				{{ item }}
			{% endfor %}
		</div>
		<div class="more-block mt-6 {% if not show_more -%} hidden {%- endif %}">
			<button class="btn btn-light btn-more btn-sm">{{ _("More") }}</button>
		</div>
	</div>
{%- endif %}
