{% extends base_template_path %}
{% block hero %}{% endblock %}

{% block content %}

{% macro main_content() %}
<div class="page-content-wrapper">
	<!-- breadcrumbs -->
	<div class="page-breadcrumbs {% if show_sidebar %}hidden-title{% else %}{% endif %}">
		{% block breadcrumbs %}
			{% include 'templates/includes/breadcrumbs.html' %}
		{% endblock %}
	</div>

	{% block page_container %}
	<main>
		<div class="d-flex justify-content-between align-items-center">
			<div class="page-header {% if show_sidebar %}hidden-title{% else %}{% endif %}">
				{% block header %}{% endblock %}
			</div>

			{% if self.header_actions() %}
			<div class="page-header-actions-block">
				{% block header_actions %}{% endblock %}
			</div>
			{% endif %}
		</div>

		<div class="page_content">
			{%- block page_content -%}{%- endblock -%}
		</div>

		<div class="page-footer">
			{%- block page_footer -%}{%- endblock -%}
		</div>
	</main>
	{% endblock %}
</div>
{% endmacro %}

{% macro container_attributes() -%}
id="page-{{ name or route | e }}" data-path="{{ pathname | e }}"
{%- if page_or_generator=="Generator" %}source-type="Generator" data-doctype="{{ doctype }}"{%- endif %}
{%- if source_content_type %}source-content-type="{{ source_content_type }}"{%- endif %}
{%- endmacro %}

{% macro sidebar() %}
<div class="sidebar-column col-sm-{{ columns }}">
	{% block page_sidebar %}
	{% include "templates/includes/web_sidebar.html" %}
	{% endblock %}
</div>
{% endmacro %}

{% if show_sidebar %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<nav aria-label="breadcrumb" class="breadcrumb-ul">
				<ul  itemscope itemtype="http://schema.org/BreadcrumbList">
					<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumb-item-">
						<a itemprop="item" href="/" itemprop="url">
							<span itemprop="name">Home</span>
							<meta itemprop="position" />
						</a>
					</li>
					<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumb-item- active" aria-current="page">
						<span itemprop="item">
							<span itemprop="name">{% if title == "Orders" %}My Order{% elif title == "Me" %}My Profile{% else %}{{ title }}{% endif %}</span>
							<meta itemprop="position" content="{{ count }}"/>
						</span>
					</li>
				</nav>
			</div>
		</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="title-link-con titleBar mb-4">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-8 align-self-center">
						<div class="title-link-col">
							<h4 class="mb-sm-0">{% if title == "Orders" %}My Order{% elif title == "Me" %}My Profile{% else %}{{ title }}{% endif %}</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" {{ container_attributes() }}>
		{%- set columns = sidebar_columns or 2 -%}
		{%- if not sidebar_right -%}
		{{ sidebar() }}
		{%- endif -%}
		<div class="main-column col-sm-{{ 12 - columns }}">
			{{ main_content() }}
		</div>
		{%- if sidebar_right -%}
		{{ sidebar() }}
		{%- endif -%}
	</div>
</div>
{% else %}
<div {{ container_attributes() }}>
	{{ main_content() }}
</div>
{% endif %}

{% endblock %}
