{% extends "templates/web.html" %}
{% block title %} Payment {% endblock %}
{%- block header -%}
<h2 class="text-center" style="margin-left: 30rem;">{{description}}</h2>
{% endblock %}
{% block script %}
<script src="https://js.stripe.com/v3/"></script>
<script>{% include "templates/includes/integrations/stripe_checkout.js" %}</script>
{% endblock %}
{%- block page_content -%}
<div class="stripe"  style="min-height: 400px; padding-bottom: 95px;padding-top: 30px;border-left-style: solid;border-left-width: 0px;margin-right: 30rem;padding-left: 0px;padding-right: 0px;margin-left: 30rem;">
    <div class="frappe-card" >
<a href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" class="">
        <h6 class="title" style="margin-bottom: 10px;margin-top: 10px;">Credit / Debit / ATM Card</h6>
</a>
    <div class="col-sm-10 col-sm-offset-2 collapse" id="collapse1" style="padding-left: 0px; padding-right: 0px; right: -52px;top: -25px;">
        {% if image %}
            <img src={{image}}>
        {% endif %}
        <form id="payment-form">
            <div class="form-row row" style="margin-left: 0px;margin-right: -193px;">
                <div class="col-9" style="margin-bottom: 15px;">
                    <div style="display: inline-flex;">
                        <label>
                            <span style="float: none;">{{ _("Name") }}</span>
                        </label>
                        <input id="cardholder-name" style="margin-left: 70px;" name="cardholder-name" class="field" placeholder="{{ _('John Doe') }}" value="{{payer_name}}"/>
                    </div>
                </div>
                <div class="col-9" style="margin-bottom: 15px;">
                    <div style="display: inline-flex;">
                        <label>
                            <span style="float: none;">{{ _("Email") }}</span>
                        </label>
                        <input id="cardholder-email" style="margin-left: 70px;" name="cardholder-email" class="field" placeholder="{{ _('john@doe.com') }}" value="{{payer_email}}"/>
                    </div>
                </div>
                <div class="col-9" style="display: inline-flex;margin-bottom: 15px;">
                    <label>
                    <span style="float: none;">{{ _("Card Details") }}</span>
                </label>
                <div id="card-element" name="card-element" class="field" style="margin-left: 35px;"></div>
            </div>
            <div id="card-errors" role="alert"></div>
            <button type="submit" class="submit" id="submit" style="background-color: transparent;border: 1px solid #EDAC2A !important;color: #EDAC2A;text-transform: uppercase;box-shadow: none;border-radius: 10px;padding-left: 40px;padding-right: 40px;margin-right: 12rem;margin-left: 11rem;">{{_('Pay')}} {{amount}}</button>
            </div>
            <div class="outcome text-center">
                <div class="error" hidden>{{ _("An error occured during the payment process. Please contact us.") }}</div>
                <div class="success" hidden>{{ _("Your payment has been successfully registered.") }}</div>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}