{% extends "templates/web.html" %}

{% block title %}{{ _("My Account") }}{% endblock %}
{% block header %}<h1>{{ _("My Account") }}</h1>{% endblock %}

{% block page_content %}
<!-- no-cache -->
<!-- <div class="row your-account-info d-none d-sm-block">
	<div class="col-sm-4">
		<ul class="list-unstyled">
			<li><a href="/update-password">{{ _("Reset Password") }}</a></li>
			<li><a href="/update-profile?name={{ user }}">{{ _("Edit Profile") }}</a></li>
			<li><a href="/third_party_apps">{{ _("Manage Third Party Apps") }}</a></li>
		</ul>
	</div>
</div>
<div class="row d-block d-sm-none">
	<div class="col-12">
		<ul class="list-group">
			{% for item in sidebar_items -%}
				<a class="list-group-item" href="{{ item.route }}"
					{% if item.target %}target="{{ item.target }}"{% endif %}>
					{{ _(item.title or item.label) }}
				</a>
			{%- endfor %}
		</ul>
	</div>
</div> -->
{% set user_image, full_name, email, username, user_type, first_name, last_name, mobile_no = frappe.db.get_value("User", frappe.session.user, ["user_image","full_name","email", "username", "user_type", "first_name", "last_name", "mobile_no"]) %}
<div class="two-box-col">
    <div class="edit-box-con">
        <div class="edit-box-head">
            <div class="title-editicon-box">
                <div class="user-img-name-con"> 
                    <div class="user-img-name-img">
                        <span class="user-img-name-img-cir"><img src="{{ user_image }}"/></span>
                    </div>
                    <div class="user-img-name-title">{{ full_name }}</div>
                </div>
                <a href="/update-profile?name={{ user }}" class="edit-icon-fixed"><img src="/assets/herbiary_customapp/images/edit-icon.svg"/></a>
            </div>
        </div>
        <hr>
        <div class="edit-box-body">
            
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-editicon-box">
                        <div class="md-title-color"> Personal information</div>
                        <a href="/update-profile?name={{ user }}" class="edit-icon-fixed"><img src="/assets/herbiary_customapp/images/edit-icon.svg"/></a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="edit-text-con">
                        <div class="row">
                            <div class="col-sm-12-col-md-6 col-lg-6">
                                <div class="edit-text-col">
                                    <div class="edit-text-title"><label>First Name </label></div>
                                    <div class="edit-text-sub-title"><label class="light-bleck-color">{{ first_name }}</label></div>
                                </div>
                            </div>
                            <div class="col-sm-12-col-md-6 col-lg-6">
                                <div class="edit-text-col">
                                    <div class="edit-text-title"><label>Last Name </label></div>
                                    <div class="edit-text-sub-title"><label class="light-bleck-color">{{ last_name }}</label></div>
                                </div>
                            </div>
                            <div class="col-sm-12-col-md-6 col-lg-6">
                                <div class="edit-text-col">
                                    <div class="edit-text-title"><label>Email Address </label></div>
                                    <div class="edit-text-sub-title"><label class="light-bleck-color">{{ email }}</label></div>
                                </div>
                            </div>
                            <div class="col-sm-12-col-md-6 col-lg-6">
                                <div class="edit-text-col">
                                    <div class="edit-text-title"><label>Phone Number </label></div>
                                    <div class="edit-text-sub-title"><label class="light-bleck-color">+ 91 {{ mobile_no }}</label></div>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
